@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Thin;
  src: url('../fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

.login-btn {
  border-radius: 20em;
}

.main-title {
  font-size: 5em;
  font-family: "Poppins-Bold";
}

.sub-title {
  font-size: 2em;
  font-family: "Poppins-Regular";
}

body {
  background-color: #d0faea !important;
}

.circle {
  background: #43b97f;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.little-circle {
  background: #e4fff57a;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.carousel {
  border-radius: 25px;
  overflow: hidden;
}

.card-title {
  font-family: "Poppins-SemiBold";
}

.about-us-numbers {
  font-size: 3.5em;
  font-weight: bolder;
}

.about-us-subtitle {
  font-size: 1em;
  font-weight: bolder;
  color: rgb(22, 116, 72);
}

.section-title {
  font-family: "Poppins-Bold";
  color: #198754;
  font-size: 3.5em;
}

.section-subtitle {
  font-family: "Poppins-SemiBold";
  color: #105837
}

.banner-title {
  font-family: "Poppins-Bold";
  color: whitesmoke;
  font-size: 3em;
}

.banner-subtitle {
  font-size: 1.2em;
}

.about-us-box {
  background-color: #19875414;
  padding: .8em;
  border-radius: 1em;
}

@media (max-width: 768px) {
  .circle {
    display: none;
  }

  .little-circle {
    display: none;
  }

  .banner-title {
    font-size: 2em;
  }

  .banner-subtitle {
    font-size: 1em;
    font-family: "Poppins-Regular";
  }
}

@media (max-width: 576px) {
  .banner-title {
    font-size: 1.5em;
  }

  .banner-subtitle {
    font-size: 1em;
    font-family: "Poppins-Regular";
  }
}


.navbar-brand {
  font-size: 1em;
}

.navbar-nav .nav-link {
  font-size: 1.0em;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa !important;
}

